<nav class="navbar">
  <div class="nav-container">
    <div class="logo">My Portfolio</div>
    <ul class="nav-links">
      <li>
        <a href="#projects">
          <i class="nav-icon fa-solid fa-code"></i>
          <span class="nav-text">Projects</span>
        </a>
      </li>
      <li>
        <a href="#link1">
          <i class="nav-icon fa-brands fa-linkedin"></i>
          <span class="nav-text">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="#link2">
          <i class="nav-icon fa-brands fa-github"></i>
          <span class="nav-text">GitHub</span>
        </a>
      </li>
      <li>
        <a href="#contact">
          <i class="nav-icon fa-regular fa-envelope"></i>
          <span class="nav-text">Contact Me</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
