<div>
  <h1> Katie Wood </h1>
  <h2> Full Stack Developer </h2>
  <h3> Biobiobiobio </h3>
  <h4> Ruby | Rails | HTML | CSS </h4>
</div>
<div>
  <h3> About me </h3>
  <p> Blablablal </p>
</div>
<div>
  <h3> My projects </h3>
  <h5> Classroom Library </h5>
  <p> Blablabla </p>
  <br>
  <h5> connectPet </h5>
  <p> Blablabla </p>
  <br>
  <h5> GanbaAI </h5>
  <p> Blablabla </p>
</div>
