<div class="header border mb-3 row">
  <div class="col-4">
    Insert pic
  </div>
  <div class="col-8 justify-content-center">
    <h1> Katie Wood </h1>
    <h2> Full Stack Developer </h2>
    <h3> Biobiobiobio </h3>
    <h4> Ruby | Rails | HTML | CSS </h4>
  </div>
</div>
<div class="abt-me">
  <h3> About me </h3>
  <p> Blablablal </p>
</div>
<div class="myproj">
  <h3> My projects </h3>
  <h5> Classroom Library </h5>
  <p> Blablabla </p>
  <br>
  <h5> connectPet </h5>
  <p> Blablabla </p>
  <br>
  <h5> GanbaAI </h5>
  <p> Blablabla </p>
</div>
<style>
  .header {
    background: #90BEDE;
  }
  .abt-me {
    background: #E5E1EE;
  }
  .myproj {
    background: #E5E1EE;
  }

  /* #68EDC6 */
</style>
