// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

.container {
  flex: 1;
}

.header {
  background: #90BEDE;
  color: #fff;
}

.role {
  color: #E5E1EE;
}

.profilepic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 40px;
}

.skill-badge {
  background-color: #ffffff;
  color: #000;
  margin-right: 6px;
  padding: 6px 10px;
}

.footer {
  background: #90BEDE;
  color: #fff;
}

.footer-link {
  color: #68EDC6;
  text-decoration: none;
  margin: 0 5px;
}

.abt-me, .myproj {
  background: #ffffff;
  border-left: 6px solid #68EDC6;
}

.about-image{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.section-title {
  color: #90BEDE;
  font-weight: bold;
}

.img-placeholder {
  width: 100%;
  height: 150px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #666;
  font-size: 0.9rem;
}

.project-card {
  padding: 15px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.project-card:hover {
  background: #f9f9f9;
  transform: translateY(-4px);
}

.project-logo {
  max-width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px
}

.project-btn {
  background: #68EDC6;
  border: none;
  color: #000;
}

.project-btn-outline {
  border: 1px solid #90BEDE;
  color: #90BEDE;
  background: transparent;
}

a{
  color: #E5E1EE;
}

a:hover{
  color: black;
}
